{
  "useTabs": false,
  "singleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["**/*frontend/**/*.ts", "**/*.tsx"],
      "options": {
        "tailwindStylesheet": "src/index.css",
        "tailwindFunctions": ["cn", "cva"]
      }
    }
  ]
}
